@import '../variables.scss';

.section-1{
min-height: 80vh;
background:$secondary;
margin-top: 2px;

&__info{
    &-container{
       margin: 0 auto;
        width: 80%;
        &-title{
            color: $primary;
            left: 200px;
            position: absolute; 
            font-size: 1.3rem;
        }
        &-subtitle{
            color: $tomato;
            font-family: $title;
            font-size: 8rem;
            position: relative;
        }
        &-text{
            font-style: italic;
        }
        &-button{
            color: white;
            background: $primary;
            border-style: none;
            border-radius: 25px;
            margin: 10px;
            padding: 20px 65px;
            font-weight: bold;
            text-transform: uppercase;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

&__img{
    background-image: url('../assets/img/banner.jpeg');
    background-size: cover;
    height: 85vh;
}
}

.section-2{
    min-height: 100vh;
    background: $primary;
}


.section-3{
    min-height: 80;
    background: $light;
    &__info{
        &-container{
           margin: 0 auto;
            width: 70%;
            &-title{
                color: $primary;
                font-size: 1.5rem;
                text-align: center;
            }
            &-subtitle{
                color: $tomato;
                font-family: $title;
                font-size: 4rem;
                
            }
            &-text{
                font-style: italic;
            }
            &-button{
                color: white;
                background: $tomato;
                border-style: none;
                border-radius: 25px;
                margin: 10px;
                padding: 18px 40px;
                font-weight: bold;
                text-transform: uppercase;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    
    &__img{
        background-image: url('../assets/img/banner-2.jpeg');
        background-size: cover;
        height: 85vh;
    }
}


.section-4{
    min-height: 80vh;
    background: white;
    &__info{
        &-container{
           margin: 0 auto;
            width: 70%;
            &-title{
                color: $primary;
                font-size: 1.5rem;
                text-align: center;
            }
            &-subtitle{
                color: $tomato;
                font-family: $title;
                font-size: 4rem;
                
            }
            &-text{
                font-style: italic;
            }
            &-button{
                color: white;
                background: $tomato;
                border-style: none;
                border-radius: 25px;
                margin: 10px;
                padding: 18px 40px;
                font-weight: bold;
                text-transform: uppercase;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    
    &__img{
        background-image: url('../assets/img/banner-3.jpeg');
        background-size: cover;
        height: 85vh;
    }
}

.section-5{
    min-height: 100vh;
    background: linear-gradient($primary 50%,$light 50%)

}

.section-6{
    min-height: 80vh;
    background: white;
    &__info{
        &-container{
           margin: 0 auto;
            width: 70%;
            &-title{
                color: $primary;
                font-size: 1.5rem;
                text-align: center;
            }
            &-subtitle{
                color: $tomato;
                font-family: $title;
                font-size: 4rem;
                
            }
            &-text{
                font-style: italic;
            }
            &-button{
                color: white;
                background: $tomato;
                border-style: none;
                border-radius: 25px;
                margin: 10px;
                padding: 18px 40px;
                font-weight: bold;
                text-transform: uppercase;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    
    &__img{
        background-image: url('../assets/img/banner-4.jpeg');
        background-size: cover;
        height: 85vh;
    }

}

.section-7{
    min-height: 100vh;
    background: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    &-item{
        margin: 20px;
        padding: 30px 0;
        max-width: 360px;
		height: 368px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width:160px;height: 160px;border-radius: 80%
        }

        &-title{
            font-size: 1.5rem;
            margin: 5px;
            font-family: $text;
        }

        &-text{
            font-size: 1rem;
            margin: 20px;
            font-style: italic;
            font-family: $text;
            text-align: center;
        }

    }

}

.section-8{
    background: white;
    &__img{
        background-image: url("../assets/img/banner-5.jpeg");
        background-size: cover;
        height: 450px;
    }
}