@import '../variables.scss';

.section-1{
min-height: 100vh;
background:$secondary;
margin-top: 2px;

&__info{

    &-container{
        padding: 0 8%;

        &-title{
            color: $primary;
            left: 220px;
            position: absolute; 
            font-size: 1.3rem;
        }


        &-subtitle{
            color: $tomato;
            font-family: $title;
            font-size: 8rem;
            position: relative;
        }

        &-text{
            font-style: italic;
        }

        &-button{
            color: white;
            background: $primary;
            border-style: none;
            border-radius: 25px;
            margin: 10px;
            padding: 20px 65px;
            font-weight: bold;
            text-transform: uppercase;

            &:hover{
                cursor: pointer;
            }
        }

        
        
    }
}

&__img{
    background-image: url('../assets/img/banner.jpeg');
    background-size: cover;
}


}

.section-2{
    min-height: 100vh;
    background: $primary;
}


.section-3{
    min-height: 100vh;
    background: $light;
}


.section-4{
    min-height: 100vh;
    background: white;
}

.section-5{
    min-height: 100vh;
    background: linear-gradient($primary 50%,$light 50%)

}

.section-6{
    min-height: 100vh;
    background: white;

}

.section-7{
    min-height: 100vh;
    background: $secondary;

}

.section-8{
    min-height: 100vh;
    background: white;

}