<!--The content below is only a placeholder and can be replaced.-->
<nav-bar></nav-bar>

<div class="section-1" fxLayout="row" fxLayout.lt-md="column">
  <div class="section-1__info" fxFlex.lt-md="1 1 auto" fxFlex fxLayoutAlign="center center">
    <div class="section-1__info-container">
        <h1 class="section-1__info-container-title">FRESH FOOD</h1>
        <span class="section-1__info-container-subtitle">Organic</span>
        <p class="section-1__info-container-text">How your food is grown or raised can
          have a major impact on your mental and emotional health as well as the environment.
        </p>
        <button class="section-1__info-container-button">learn more</button>
    </div>
  </div>
  <div class="section-1__img" fxFlex.lt-md="1 1 auto" fxFlex>
  </div>
</div>
<div class="section-2">


</div>

<div class="section-3">


</div>


<div class="section-4">


</div>

<div class="section-5">


</div>

<div class="section-6">


</div>

<div class="section-7">


</div>

<div class="section-8">


</div>

<footer></footer>