@import '../variables.scss';

.section-1{
min-height: 85vh;
background:$secondary;
margin-top: 2px;

&__info{
    height: 85vh;
    &-container{
        &-title{
            color: $tomato;
            font-family: $title;
            font-size: 8rem;
            position: relative;
            font-weight: 400;
            margin: 0;

        }

        &-title-md{
            font-size: 6rem;
        }

        &-subtitle{
            color: $primary;
            left: 120px;
            top: 0;
            bottom: 0;
            right: 0;
            position: absolute; 
            font-size: 2rem;
            font-weight: bold;
            font-family: $text;
        }

        &-subtitle-md{
            font-size: 1rem;
            left: 100px;
        }

        &-text{
            font-style: italic;
            font-size: 1.2rem;
        }

        &-text-md{
            font-size: 1.1rem;
        }

        &-button{
            color: white;
            background: $primary;
            border-style: none;
            border-radius: 25px;
            margin: 15px 0px;
            padding: 18px 65px;
            font-weight: bold;
            text-transform: uppercase;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

&__img{
    background-image: url('../assets/img/banner.jpeg');
    background-position: center center;
    background-size: cover;
    height: 85vh;
}
}

.section-2{
    min-height: 100vh;
    background: $primary;
    &__wrap{
        margin-bottom: 80px;
        &-container{
            margin-bottom: 65px;
        &-title{
            color: white;
            font-size: 3rem;
            text-align: center;
            font-weight: 400;
        }

        &-text{
            color: white;
            text-align: center;
            font-style: italic;
        }
    }

        &-card{
            background: white;

            &-title{
                text-align: center;
            }

            &-text{
                text-align: center;
                font-style: italic;
                padding: 0 20px;
            }

           img{
            width: 50px;
            display: block;
            margin: 30px auto; 
           text-align: center;
           }
        }

        &-img{
            background-position: center center;
            background-size: cover;
            &:nth-child(2) {
                background-image: url(../assets/img/grid-1.jpeg);
              }
          
              &:nth-child(4) {
                background-image: url(../assets/img/grid-2.jpeg);
              }
          
              &:nth-child(6) {
                background-image: url(../assets/img/grid-3.jpeg);
              }
        }

        &-card,
        &-img {
          width: 350px;
          height: 300px;
          margin: 20px;
        }

    }

}


.section-3{
    min-height: 85;
    background: linear-gradient(#F9F9FB,#F0EFF4);
    &__info{
        height: 85vh;
        &-container{
            &-title{
                color: $tomato;
                font-family: $title;
                font-size: 4rem;
                font-weight: 400;
                margin: 0;
                
            }

            &-title-md{
                font-size: 3rem;
            }

            &-subtitle{
                color: $primary;
                font-size: 1.5rem;
                font-weight: bold; 
            }

            &-subtitle-md{
                font-size: 1.2rem;
            }

            &-text{
                font-style: italic;
            }
            &-button{
                color: white;
                background: $tomato;
                border-style: none;
                border-radius: 25px;
                margin: 10px;
                padding: 18px 40px;
                font-weight: bold;
                text-transform: uppercase;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    
    &__img{
        background-image: url('../assets/img/banner-2.jpeg');
        background-position: center center;
        background-size: cover;
        height: 85vh;
    }
}


.section-4{
    min-height: 85vh;
    background: white;
    &__info{
        min-height: 85vh;
        &-container{
            &-title{
                color: $tomato;
                font-family: $title;
                font-size: 4rem;
                font-weight: 400;
                margin: 0;
              
            }

            &-title-md{
                font-size: 3rem;
            }

            &-subtitle{
                color: $primary;
                font-size: 1.5rem;
                font-weight: bold;
            }

            &-subtitle-md{
                font-size: 1.2rem;
            }

            &-text{
                font-style: italic;
            }
            &-button{
                color: white;
                background: $tomato;
                border-style: none;
                border-radius: 25px;
                margin: 10px;
                padding: 18px 40px;
                font-weight: bold;
                text-transform: uppercase;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    
    &__img{
        background-image: url('../assets/img/banner-3.jpeg');
        background-position: center center;
        background-size: cover;
        height: 85vh;
    }
}

.section-5{
    min-height: 100vh;
    background: linear-gradient($primary 55%,$light 45%);

    &__wrap{
        margin-bottom: 80px;

        &-container{
            margin-bottom: 65px;
            &-title{
                color: white;
                font-size: 3rem;
                text-align: center;
                font-weight: 400;
            }
    
            &-text{
                color: white;
                text-align: center;
                font-style: italic;
            }
        }

        &-card{
            height: 380px;
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-title{
                color: $primary;
                font-weight: bold;
                text-align: start;
                margin-left: 30px;
                font-size: 1.2rem;
            }
            
            &-text{
                text-align: center;
                font-style: italic;
              
            }

            img{
                height: 250px;
                background-position: center center;
                background-size: cover;
            }
        }

        &-card {
        margin:30px 30px;;
        width: 250px;
        }
    }

}

.section-6{
    min-height: 85vh;
    background: white;
    &__info{
        min-height: 85vh;
        &-container{
            &-title{
                color: $tomato;
                font-family: $title;
                font-size: 4rem;
                margin: 0;
                font-weight: 400;
            }

            &-title-md{
                font-size: 3rem;
            }

            &-subtitle{
                color: $primary;
                font-size: 1.5rem;
                font-weight: bold;
            }

            &-subtitle-md{
                font-size: 1.2rem;
            }

            &-text{
                font-style: italic;
            }
            &-button{
                color: white;
                background: $tomato;
                border-style: none;
                border-radius: 25px;
                margin: 10px;
                padding: 18px 40px;
                font-weight: bold;
                text-transform: uppercase;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    
    &__img{
        background-image: url('../assets/img/banner-4.jpeg');
        background-position: center center;
        background-size: cover;
        height: 85vh;
    }

}

.section-7{
    min-height: 100vh;
    background: $secondary;

    &-item{
        margin: 20px;
        padding: 30px 0;
        width: 360px;
		height: 368px;
        background-color: #fff;
      
        img{
            width:160px;
            height: 160px;
            border-radius: 80%;
            display: block;
            margin: 30px auto; 
        }

        &-title{
            font-size: 1.5rem;
            margin: 5px;
            font-family: $text;
            text-align: center;
        }

        &-text{
            font-size: 1rem;
            margin: 20px;
            font-style: italic;
            font-family: $text;
            text-align: center;
        }

    }

}

.section-8{
    &__img{
        background-image: url("../assets/img/banner-5.jpeg");
        background-position: center center;
        background-size: cover;
        height: 400px;
    }
}